@import url('"https://fonts.googleapis.com/css2?family=Ledger&family=Manrope:wght@400;500;600;700&display=swap" rel="stylesheet"');

@import "tailwindcss";
@plugin "daisyui";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-200 text-black;
  }
   * {
    @apply m-0 p-0;
  }
}



html {
  scroll-behavior: auto;
}


