.hero-container {
  margin: 0;                 /* remove all margins */
  padding: 0;               /* remove inner spacing */
  width: 100%;
  height: 100vh;            /* full screen height */
  color: #090909;

  background-image: url("../assets/hero11.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 100vh;
  
  
}.hero-content {
   display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin: auto;
  margin-top: 200px;
  width: 90%; 
}

.hero-text {
  display: none;
}

.hero-buttons {
   padding-top: 20px;
   margin-left: 20%;
  
}.btn-primary, .btn-secondary {
  padding: 6px 12px;
  font-size: 12px;
  margin: 10px 20px;
  border: 1px solid #1c1205;
  background-color: #ffe4c4;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: black;
  font-weight: 600;
}


@media (min-width: 800px) { 
  .hero-container {
  margin: 0;                 /* remove all margins */
  padding: 0;               /* remove inner spacing */
  width: 100%;
  height: 100vh;            /* full screen height */
  color: #090909;

  background-image: url("../assets/hero11.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  
  
}
.hero-content {
   display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin: auto;
  margin-top: 230px;
  width: 90%; 
}
.hero-text {
 
 display: none
}



.hero-buttons {
   padding-top: 10px;
  margin-left: 80%;
  
}

.btn-primary, .btn-secondary {
  padding: 6px 12px;
  margin: 10px;
  font-size: 12px;
  border: 1px solid #1c1205;
  background-color: #ffe4c4;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: black;
  font-weight: 600;
}
}

